torch>=2.0.0
torchvision>=0.15.0
torchaudio>=2.0.0
numpy
pandas
scikit-learn
opencv-python
opencv-contrib-python
Pillow
matplotlib
streamlit
facenet-pytorch
efficientnet_pytorch
grad-cam
imagehash
fpdf2
PyExifTool
tqdm
